$breakpoints: (
  "XS": 768px,
  "S": 1024px,
  "M": 1580px
) !default;

$wrapperMaxWidth: (
  "XS": 320px,
  "S": 768px,
  "M": 1024px,
  "L": 1320px
);

$pads: (
  "XS": 15px,
  "S": 20px,
  "M": 30px,
  "L": 45px
);

@mixin breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. " + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: map-get($pads, "L");
  padding-right: map-get($pads, "L");
  max-width: map-get($wrapperMaxWidth, "L");

  @include breakpoint("M") {
    padding-left: map-get($pads, "M");
    padding-right: map-get($pads, "M");
  }

  @include breakpoint("S") {
    padding-left: map-get($pads, "S");
    padding-right: map-get($pads, "S");
  }

  @include breakpoint("XS") {
    padding-left: map-get($pads, "XS");
    padding-right: map-get($pads, "XS");
  }
}
