html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  scroll-behavior: inherit;
}

*:focus {
  outline-style: groove;
}

body {
  position: relative;
  overflow-x: hidden;

  @include font(16px, 1.5);
  letter-spacing: normal;
  color: $c_text;

  @include breakpoint("XS") {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
