@mixin retina {
  @media (min-resolution: $retina_dpi), (min-resolution: $retina_dppx) {
    @content;
  }
}

@mixin flex($flex-direction) {
  display: flex;
  flex-direction: $flex-direction;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}

@mixin font($size, $height, $weight: $reg) {
  font-family: $font_main;
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@mixin hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

@mixin no-hover {
  cursor: auto;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 1;
  }
}

@mixin title-1 {
  @include font(60px, 1.13);
  margin-bottom: 0;

  @include breakpoint("M") {
    font-size: 50px;
  }

  @include breakpoint("S") {
    font-size: 40px;
  }

  @include breakpoint("XS") {
    font-size: 30px;
  }
}

@mixin title-2 {
  @include font(40px, 1.2);
  margin-bottom: 0;

  @include breakpoint("M") {
    font-size: 32px;
  }

  @include breakpoint("S") {
    font-size: 24px;
  }

  @include breakpoint("XS") {
    font-size: 20px;
  }
}

@mixin title-3 {
  @include font(28px, 1.3);
  margin-bottom: 0;

  @include breakpoint("M") {
    font-size: 24px;
  }

  @include breakpoint("S") {
    font-size: 22px;
  }

  @include breakpoint("XS") {
    font-size: 18px;
  }
}

@mixin btn {
  @include hover;
  display: block;
  padding: 13px 32px;
  color: $c_white;
  border: 0 none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 99px;

  @include breakpoint("S") {
    font-size: 14px;
  }

  &:active {
    transform: scale(0.9);
  }
}

@mixin btn-light {
  color: $c_theme-three;
  background-color: $c_theme-one;
}

@mixin btn-dark {
  background-color: $c_theme-two;
}

@mixin link {
  @include hover;
  text-decoration: none;
  color: $c_theme-one;
}

@mixin link-secondary {
  @include link;
  color: $c_text-light;
}

@mixin dots-bg {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto 967px;
  background-image: url("../img/dots.svg");

  @include breakpoint("XS") {
    background-size: auto 600px;
  }
}
