$font_main: "Tahoma", "Arial", sans-serif;
$light: 300;
$reg: 400;
$semi: 600;
$bold: 700;

$retina_dpi: 144dpi;
$retina_dppx: 1.5dppx;


$c_black: #000000;
$c_white: #ffffff;

$c_text: #232323;
$c_text-light: #999999;
$c_border: #cdcdcd;

$c_theme-one: #93ea20;
$c_theme-two: #00b336;
$c_theme-three: #004550;

$c_bg: #f1f1f1;
