.btn-close {
  @include hover;
  // position: absolute;
  z-index: 10;
  right: 0;
  top: -35px;
  display: block;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: 0 none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 23px;
    height: 2px;
    background-color: $c_white;
  }

  &::before {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }

  &::after {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
}
