.experts__container {
  padding-top: 34px;
  padding-bottom: 78px;
  padding-right: 0;

  @include breakpoint("M") {
    padding-top: 25px;
    padding-bottom: 50px;
  }

  @include breakpoint("XS") {
    padding-bottom: 30px;
  }
}

.experts h2 {
  @include title-2;
}

.experts__slider {
  margin-top: 31px;
  margin-left: -10px;
}

.experts__items-wrapper {
  @include flex(row);
  flex-wrap: nowrap;
  width: max-content;
}
.experts__item {
  flex-shrink: 0;
  width: 212px;
  padding-top: 18px;
  padding-left: 10px;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 119px 151px;
  background-image: url("../img/experts/brand-el.svg");
}

.experts__item-img-wrapper {
  width: 164px;
  height: 164px;
  border-radius: 30px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.experts__item:hover .experts__item-img-wrapper {
  transform: scale(1.1);
  transform-origin: 50%;
}

.experts__item-img-wrapper img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.experts__item-text-wrapper h3 {
  @include title-3;
  margin-top: 25px;
  margin-bottom: 0;
}

.experts__item-text-wrapper p {
  margin-top: 9px;
  color: $c_text-light;
}
