.footer {
  color: $c_text-light;
  background-color: $c_bg;
}

.footer__container {
  @include flex(row);
  padding-left: 10px;
  align-items: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;

  @include breakpoint("M") {
    padding-left: 0;
  }
}

.footer__copyright {
  max-width: 60%;

  @include breakpoint("M") {
    margin-bottom: 0;
    max-width: 75%;
    padding-right: 15px;
  }

  @include breakpoint("XS") {
    max-width: none;
    width: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer__social {
  max-width: 40%;
  padding-right: 63px;
  padding-left: 63px;
  padding-top: 15px;

  @include breakpoint("M") {
    flex-wrap: nowrap;
    padding-left: 20px;
    padding-right: 20px;
  }

  @include breakpoint("S") {
    max-width: none;
    padding-left: 0;
    padding-right: 0;
  }

  @include breakpoint("XS") {
    margin-left: auto;
    margin-right: auto;
  }
}
