.form h2 {
  @include title-3;
  margin-bottom: 29px;
}

.form input {
  width: 100%;
  margin-bottom: 16px;
  padding: 12px 9px;
  background-color: $c_white;
  border: 3px solid $c_white;

  &:focus {
    border: 3px solid $c_theme-one;
  }
}

.form input[type="checkbox"] {
  @include visually-hidden;
}

.form label {
  position: relative;
  cursor: pointer;
  display: block;
  padding-left: 36px;
  line-height: 24px;
}

.form label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 17px;
  height: 17px;
  background-color: $c_white;
  transition: 0.3s ease-in-out;
  border: 3px solid $c_white;
}

.form input[type="checkbox"]:checked ~ label::before {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  background-image: url("../img/form/tick.svg");
}

.form input[type="checkbox"]:focus ~ label::before {
  border: 3px solid $c_theme-one;
}

.form button {
  width: 100%;
  margin-top: 42px;
}
