.list p {
  position: relative;
  padding-left: 25px;
  margin-top: 0;
  margin-bottom: 9px;
}

.list p::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: currentColor;
}
