.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba($c_black, 0.8);
}

.overlay--shown {
  display: block;
}
