.popup {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: none;
  width: max-content;
  height: auto;
}

.popup--shown {
  display: block;
}

.popup__close-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.popup iframe {
  width: 930px;
  height: 524px;

  @include breakpoint("M") {
    width: 560px;
    height: 315px;
  }

  @include breakpoint("S") {
    width: 100vw;
    height: 56.25vw;
  }
}
