.program {
  position: relative;
}

.program::before {
  @include dots-bg;
  content: "";
  position: absolute;
  display: block;
  width: 126px;
  height: 182px;
  top: 4px;
  left: 10px;

  @include breakpoint("XS") {
    z-index: 1;
    top: 20px;
    left: 0;
    width: 150px;
    height: 40px;
  }
}

.program__container {
  padding-top: 53px;
  padding-bottom: 23px;
  border-bottom: 1px solid $c_border;
}

.program h2 {
  @include title-2;
  position: relative;
  z-index: 2;
  text-align: center;
}

.program__inner-wrapper {
  @include flex(row);
  margin-top: 50px;

  @include breakpoint("XS") {
    flex-direction: column;
  }
}

.program__video-wrapper {
  width: 390px;

  @include breakpoint("M") {
    width: 320px;
  }

  @include breakpoint("XS") {
    width: 100%;
  }
}

.program__video {
  border-radius: 10px;
  overflow: hidden;

  @include breakpoint("XS") {
    padding-bottom: 56.5%;
  }
}

.program__video-wrapper p {
  margin-top: 20px;
  color: $c_text-light;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
}

.program__text-wrapper {
  flex-shrink: 1;
  max-width: calc(100% - 390px);
  padding-left: 8.5%;

  @include breakpoint("M") {
    max-width: calc(100% - 320px);
    padding-left: 5%;
  }

  @include breakpoint("XS") {
    max-width: none;
    width: 100%;
    padding-left: 0;
  }
}

.program__text-wrapper > p {
  margin-top: 25px;

  &:first-of-type {
    margin-top: 0;
  }
}

.program__list {
  margin-top: 25px;
}

.program__button-wrapper {
  @include flex(row);
  flex-wrap: nowrap;
  align-items: flex-start;
  margin-top: 50px;
  padding-right: 5.5%;

  @include breakpoint("M") {
    padding-right: 0;
  }

  @include breakpoint("XS") {
    flex-direction: column;
    margin-top: 30px;
  }
}

.program__button-wrapper p {
  max-width: 399px;
  margin-top: 0;
  font-size: 24px;
  line-height: 1.25;

  @include breakpoint("M") {
    max-width: 60%;
    font-size: 22px;
  }

  @include breakpoint("S") {
    font-size: 20px;
  }

  @include breakpoint("XS") {
    max-width: none;
    font-size: 18px;
  }
}

.program__button-wrapper button {
  white-space: nowrap;
  margin-top: 4px;
  margin-left: 15px;

  @include breakpoint("M") {
    margin-top: 0;
  }

  @include breakpoint("XS") {
    width: 100%;
    margin-left: 0;
  }
}
