.social__items-wrapper {
  @include flex(row);
}

.social__link {
  @include hover;
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 12px;
  margin-right: 12px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 24px 24px;
}

.social__link--tw {
  background-image: url("../img/social/twitter.svg");
}

.social__link--fb {
  background-image: url("../img/social/facebook.svg");
}

.social__link--li {
  background-image: url("../img/social/linkedin.svg");
}

.social__link--sw {
  background-image: url("../img/social/spiceworks.svg");
}

.social__link--yt {
  background-image: url("../img/social/youtube.svg");
}
