.video {
  position: relative;
  width: 100%;
  height: 218px;
  border-radius: 10px;
  overflow: hidden;
}

.video__cover {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.video__button {
  @include hover;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  width: 116px;
  height: 72px;
  transform: translateX(-50%) translateY(-50%);
  background-color: rgba($c_theme-one, 0.7);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 44px 44px;
  border: 0 none;
  border-radius: 5px;

  @include breakpoint("S") {
    width: 80px;
    height: 50px;
    background-size: 25px auto;
  }

  &:hover,
  &:focus {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.1);
  }

  &:active {
    transform: translateX(-50%) translateY(-50%) scale(0.9);
  }
}

.video__button--play {
  background-image: url("../img/video/play.svg");
}
