.zero {
  position: relative;
  color: $c_white;
  background-color: $c_theme-three;
}

.zero::before,
.zero::after {
  @include dots-bg;
  content: "";
  z-index: 10;
  position: absolute;
  display: block;

  @include breakpoint("M") {
    display: none;
  }
}

.zero::before {
  width: 126px;
  height: 314px;
  bottom: 0;
  left: 10px;
}

.zero::after {
  width: 72px;
  height: 572px;
  top: 5px;
  right: 1px;

  @include breakpoint("XS") {
    right: 0;
    width: 50px;
    height: 240px;
    display: block;
  }
}

.zero__container {
  @include flex(row);
  position: relative;
  justify-content: start;

  @include breakpoint("XS") {
    flex-direction: column;
  }
}

.zero__container::after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 62%;
  top: 0;
  display: block;
  height: 100%;
  width: calc(38% + (100vw - 100% / 2));
  background-color: rgba($c_black, 0.2);

  @include breakpoint("XS") {
    display: none;
  }
}

.zero__text-wrapper {
  width: 62%;
  padding-top: 76px;
  padding-bottom: 95px;
  background-repeat: no-repeat;
  background-position: calc(100% - 19px) calc(100% - 41px);
  background-size: 305px 305px;
  background-image: url("../img/zero/img.png");

  @include breakpoint("M") {
    background-size: 38% auto;
  }

  @include breakpoint("XS") {
    width: 100%;
    background-size: 45% auto;
    background-position: 100% 100%;
  }
}

.zero__logo-link img {
  width: 229px;
  height: auto;

  @include breakpoint("M") {
    width: 210px;
  }

  @include breakpoint("S") {
    width: 190px;
  }

  @include breakpoint("XS") {
    width: 150px;
  }
}

.zero__flag {
  margin-top: 75px;
  margin-bottom: 0;
  font-size: 28px;
  line-height: 1.3;
  color: $c_theme-one;
  text-transform: uppercase;

  @include breakpoint("M") {
    font-size: 26px;
  }

  @include breakpoint("S") {
    font-size: 24px;
  }

  @include breakpoint("XS") {
    font-size: 22px;
  }
}

.zero__title {
  @include title-1;
  max-width: 64%;
  margin-top: 33px;

  @include breakpoint("M") {
    max-width: 70%;
    margin-top: 27px;
  }

  @include breakpoint("S") {
    margin-top: 23px;
  }

  @include breakpoint("XS") {
    max-width: 350px;
    margin-top: 20px;
  }
}

.zero__caption {
  font-size: 28px;

  @include breakpoint("M") {
    font-size: 26px;
  }

  @include breakpoint("S") {
    font-size: 24px;
  }

  @include breakpoint("XS") {
    font-size: 20px;
  }
}

.zero__form-wrapper {
  z-index: 2;
  width: 37%;
  margin-left: auto;
  padding-top: 62px;
  padding-left: 5.5%;

  @include breakpoint("XS") {
    position: relative;
    z-index: 2;
    width: 100%;
    margin-top: 20px;
    padding-top: 0;
    padding-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
  }
}

.zero__form-wrapper::after {
  @include breakpoint("XS") {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    display: block;
    height: 100%;
    width: 100vw;
    margin-left: -15px;
    background-color: rgba($c_black, 0.2);
  }
}

.zero__form {
  max-width: 380px;
  margin-right: 0;

  @include breakpoint("XS") {
    max-width: 100%;
  }
}
